.footer {
    background: rgba(0, 0, 60, 0.8);
    display: flex;
    align-items: center;
    padding: 0 15%;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer img {
    width: 8%;
    padding: 5px 0;
    opacity: 0.2;
    margin: 0;
}

.footer h4 {
    width: 30%;
}

.footer p {
    width: 100%;
}

.footer p,
.footer h4 {
    color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 900px) {
    .footer h4 {
        width: 40%;
    }
}

@media (max-width: 700px) {
    .footer h4 {
        font-size: 1em;
        width: 40%;
    }

    .footer p {
        font-size: 8px;
    }
}
